@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:wght@400;500;600;700;800;900&display=swap');


body {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans";
}


/*      START: NAVBAR SECTION         */

.navbar {
    background-color: #1F77B4;
    padding: 10px;
    
}

.navbar tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navLabel {
	color: white;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.navLabel:hover {
	color: whitesmoke;
}

.navBtn {
	background-color: #EFFCF1;
	padding: 4px;
	border-radius: 8px;
	border: none;
	font-weight: 700;
}

/*      END: NAVBAR SECTION         */


/*      START: DROPDOWN(TREE) SECTION         */


.parentTree table:first-child {
	
}


.treeHeading tr:first-child{
	font-weight: 600;
}


.leftSidebar {
	padding: 15px 10px;
	border-right: 1px solid black;
}

.leftSidebar > * {
	padding: 1.1px;
}

.hr {
	background-color: #A59595;
	margin: 10px 10px;
	height: 1px;
	width: 120px;
}



/*      END: DROPDOWN(TREE) SECTION         */
