@CHARSET "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:wght@400;500;600;700;800;900&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
	;

body {
	margin: 0px !important;
	padding: 0px !important;
	font-family: "Open Sans";
}

/*      START: NAVBAR SECTION         */
.navbar {
	background-color: #1F77B4;
	padding: 10px;
}

.navbar tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navLabel {
	color: white;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

.navLabel:hover {
	color: whitesmoke;
}

.navBtn {
	background-color: #EFFCF1;
	padding: 4px;
	border-radius: 8px;
	border: none;
	font-weight: 700;
}

/*      END: NAVBAR SECTION         */
/*      START: DROPDOWN(TREE) SECTION         */
.treeHeading tr:first-child {
	font-weight: 600;
}

.leftSidebar {
	padding: 15px 10px;
}

.leftSidebar>* {
	padding: 1.1px;
}

.hr {
	background-color: #A59595;
	margin: 10px 0 10px 10px;
	height: 1px;
	width: 180px;
}

/*      END: DROPDOWN(TREE) SECTION         */


/*      START: TASKDASHBOARD SECTION         */
.customBtn {
	padding: 5px 15px;
	margin: 0 10px;
	border: 2px solid black;
	border-radius: 5px;
	font-weight: 600;
	color: black;
	background-color: white;
	cursor: pointer;
}

.smallBtn {
	padding: 0.5px 5px;
	margin: 0 10px;
	border: 2px solid black;
	border-radius: 5px;
	font-weight: 600;
	color: black;
	background-color: white;
	cursor: pointer;
}

.customBtn:hover, .smallBtn:hover {
	color: white;
	background-color: black;
}

.taskLabel {
	font-size: 15px;
	font-weight: 600;
}

.imp:before {
	content: "* ";
	color: red;
}

.icon {
	margin: 3px 0 0 3px;
	cursor: pointer;
}

.taskHeading {
	text-align: center;
	background-color: #1F77B4;
	font-family: Roboto !important;
	color: white;
	font-weight: 500;
}

.taskHeading td {
	padding: 10px;
}

.taskHeading td, .taskHeading tr {
	border-collapse: collapse;
}

.taskCell {
	padding: 10px;
	text-align: center;
}

.taskCell td {
	padding: 10px;
}



/*      END: TASKDASHBOARD SECTION         */




/*      START: ADD-EDIT PAGE SECTION         */


.listBoxStyle {
	width: 200px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	outline: none;
}

.listBoxStyle option {
	background-color: #fff;
	color: #333;
}

.listBoxStyle:hover, .listBoxStyle:focus {
	border-color: #3498db;
	box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

.formField {
	margin-bottom: 10px;
}

.text-right {
	text-align: right;
}

.mr-5 {
	margin-right: 50px;
}


/*      END: ADD-EDIT PAGE SECTION          */


/*      START: ADD-EDIT PAGE SECTION         */

.form-container {
	width: 40vw !important;
	margin: 100px auto 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*      END: ADD-EDIT PAGE SECTION         */

.gwt-TreeItem-selected {
	display: block !important; 
	background-color: rgba(52, 152, 219, 0.7) !important;
	padding: 2px 0 2px 3px;
	border-radius: 5px;
	width: 150px !important;
}


