<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Enable component scanning for Spring to discover components -->
	<context:component-scan base-package="com.assetsense.assetsoft" />

	<!-- DataSource Configuration -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/assetsoft" />
		<property name="user" value="postgres" />
		<property name="password" value="root" />


		<property name="acquireIncrement" value="5" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="maxIdleTime" value="300" />
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>user.hbm.xml</value>
				<value>team.hbm.xml</value>
				<value>lookup.hbm.xml</value>
				<value>product.hbm.xml</value>
				<value>task.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.flushMode">AUTO</prop>
			</props>
		</property>
	</bean>

	<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="checkWriteOperations" value="false"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- <bean id="d" class="com.demoTodo.shared.TodoDao"> <property name="template" 
		ref="template"></property> </bean> -->

	<!-- Liquibase Bean Configuration -->
	<bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
		<property name="changeLog"
			value="file:/C:/dev/workspace/assetsoft/resources/dbMigrations/changelog-master.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>


</beans>