<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	
    <!-- Auth Service -->
	<servlet>
		<servlet-name>authService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.AuthServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>authService</servlet-name>
		<url-pattern>/assetsoft/auth</url-pattern>
	</servlet-mapping>
	
	<!-- User Service -->
	<servlet>
		<servlet-name>userService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userService</servlet-name>
		<url-pattern>/assetsoft/user</url-pattern>
	</servlet-mapping>
	
	<!-- Task Service -->
	<servlet>
		<servlet-name>taskService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.TaskServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>taskService</servlet-name>
		<url-pattern>/assetsoft/task</url-pattern>
	</servlet-mapping>
	
	<!-- Team Service -->
	<servlet>
		<servlet-name>teamService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.TeamServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>teamService</servlet-name>
		<url-pattern>/assetsoft/team</url-pattern>
	</servlet-mapping>
	
	<!-- Lookup Service -->
	<servlet>
		<servlet-name>lookupService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.LookupServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>lookupService</servlet-name>
		<url-pattern>/assetsoft/lookup</url-pattern>
	</servlet-mapping>
	
	<!-- Product Service -->
	<servlet>
		<servlet-name>productService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.ProductServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>productService</servlet-name>
		<url-pattern>/assetsoft/product</url-pattern>
	</servlet-mapping>
	
	<!-- Module Service -->
	<servlet>
		<servlet-name>moduleService</servlet-name>
		<servlet-class>com.assetsense.assetsoft.server.ModuleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>moduleService</servlet-name>
		<url-pattern>/assetsoft/module</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- <filter>
		<filter-name>filterChainProxy</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>org.springframework.security.web.FilterChainProxy</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>filterChainProxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
</web-app>
